{% extends 'base.html' %}
{% block content %}
<div class="flex flex-col items-center space-y-4">
    <h2 class="text-2xl text-violet-800 mb-4">Suivre des utilisateurs</h2>
    <form method="post">
        {{ follow_user_form.as_p }}
        {% csrf_token %}
        <button class="block mt-1 bg-violet-500 hover:bg-violet-700 text-white font-bold py-2 px-4 border-b-4 border-violet-700 hover:border-violet-500 rounded" type="submit" >Confirmer</button>
    </form>

        <h3>Utilisateurs suivis</h3>
        <ul>
            {% for user in following %}
                <li>{{ user.username }} <a class="text-red-500" href="?unfollow={{ user.id }}">Se désabonner</a></li>
            {% empty %}
                <li>Aucun utilisateur suivi.</li>
            {% endfor %}
        </ul>
</div>
{% endblock content %}