{% extends 'base.html' %}
{% block content %}

<div class="flex flex-col items-center space-y-4">
  {% for ticket in tickets %}
    <a href="{% url 'view_ticket' ticket.id %}" class="text-center">
      <div class="w-1/2 mx-auto bg-white p-4 rounded-lg shadow-md">
        <h4 class="text-lg font-semibold mb-2">{{ ticket.title }}</h4>
        <img src="{{ ticket.photo.image.url }}" alt="{{ ticket.title }}" class="w-full h-auto">
        <p>{{ ticket.description }}</p>
      </div>
    </a>
  {% endfor %}
  {% for review in reviews %}
  <h4>Revue : {{ review.title }}</h4>
  {% endfor %}
</div>
{% endblock content %}